h1{text-align: center;}
.navbar1{
     display: flex;
     justify-content: space-between;
     width:80%;
     margin:60px;
}
.navbar1 p{
    background-color: gainsboro;
    padding:20px;
    border-radius:12px;
    font-weight: bolder;
}
.navbar2{
    background-color: rgb(4, 72, 4);
    display: flex;
    color:white;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin:50px;
}
.left{
    display: flex;
    align-items:center;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.navbar3{
    background-color:rgba(0, 0, 0, 0.77);
    display: flex;
    color:white;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin:50px;
}
.left1{
    display: flex;
    align-items: center;
}
.right1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}